# Model/checkpoints
results/
checkpoint-*/
*.pt
*.bin
*.safetensors

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/
/content/drive/MyDrive/transformers/Ecommerce/ChatBot/checkpoint-255/
/content/drive/MyDrive/transformers/Ecommerce/ChatBot/model_dir/
